.trending-products {
    padding: 120px 0;
    background-color: #fff;

&__headline {
    font-family: $roboto;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 60px;
    text-transform: capitalize;
}    





}