$dark-grey: #263238;
$green: #8bc34a;
$red:#e74c3c;
$white:#fff;
$light-gray:#f4f6f5;
$orange:#ffa726;
$grey:#b5b5b5;
$blue:#42a5f5;
$roboto:'Roboto',Helvetica,Arial,sans-serif;
$opensans:'Open-sans',Helvetica,Arial,sans-serif;
$white-1: #ffffff;