.become-author {
    padding: 130px 0;
    background-color: #f4f6f5;


&__inner {
    background-color: #b5b5b5;
    padding: 110px 220px;

}   



&__about {
    max-width: 652px;
    padding: 70px;
    background-color: #8bc34a;
    display: flex;
    justify-content: space-around;
    align-items: center;


p {    

    font-size: 20px;
    font-family: 'roboto-regular',Arial, Helvetica, sans-serif;
    font-weight: normal;

span {
  font-weight: bold;
}    
}

button {
    padding: 16px 75px;
    background-color: #fff;
    font-family: "roboto-regular",Arial, Helvetica, sans-serif;
    font-size: 18px;

}    
}

}



@media(max-width: 1024px) {

    .become-author {
        padding: 100px 0;
    }

    .become-author__inner {
    
        padding: 87px 135px;
    }

}

@media(max-width: 992px){

    .become-author{
        padding: 70px 0px;
    }    
    
    .become-author__inner {
        padding: 95px 60px;
    }
    
    .become-author__about {
        padding: 67px 0px;
    }
    
    .become-author__about button {
        padding: 15px 38px;
    }
    
    
    }

@media(max-width: 575px) {

    .become-author {
        padding: 74px 0px;
    }    
    
    .become-author__inner {
        padding: 74px 0px;
    }
    
    .become-author__about {
        padding: 67px 0px;
    }
    
    .become-author__about button {
        font-size: 15px;
        padding: 13px 42px;
    }
    
    .become-author__text p {
        font-size: 16px;
        font-weight: 600;
    }
    
    }
