@import "../base/variables";
@import "../base/mixins";
<<<<<<< HEAD
@import "../base/fonts";


// poster-mini start
=======
>>>>>>> bee2858370f6851c3a30e36038198b0e9c1a2254

.poster {
    height: 532px;
    position: relative;
    display: flex;
    align-items: center;

<<<<<<< HEAD
    &_mini {        
        height: 230px;
    }       

=======
>>>>>>> bee2858370f6851c3a30e36038198b0e9c1a2254
    &__bg-img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
    }

<<<<<<< HEAD
    &__bg-img_mini {        
        background-size: cover;        
    }

=======
>>>>>>> bee2858370f6851c3a30e36038198b0e9c1a2254
    &__mask {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
<<<<<<< HEAD
        height: 100%;       
        z-index: -1;
    }

    &__mask_mini {       
        background-size: contain;        
    }

    &__content {
        margin: 0 auto;
        color: #ffffff;
=======
        height: 100%;
        opacity: 0.5;
        z-index: -1;
    }

    &__content {
        margin: 0 auto;
        color: $white-1;
>>>>>>> bee2858370f6851c3a30e36038198b0e9c1a2254
        text-align: center;        
    }

    &__title {
        font-family: 'roboto-bold', Helvetica, Arial, sans-serif;
        font-size: 48px;
        line-height: 30px;
        margin-bottom: 35px;
    }

    &__description {
        @include default-text(20px, 500);
<<<<<<< HEAD
        line-height: 30px;       
        margin-bottom: 50px;
    }

    &__description_mini {               
        margin-bottom: 25px;
    }
=======
        line-height: 30px;
        margin-bottom: 50px;
    }
>>>>>>> bee2858370f6851c3a30e36038198b0e9c1a2254
}

.search {
    position: relative;
    width: 670px;
    margin: auto;
    box-shadow: 0 1px 10px rgba(124, 178, 64, 0.75);
<<<<<<< HEAD
    background-color: #ffffff;
=======
    background-color: $white-1;
>>>>>>> bee2858370f6851c3a30e36038198b0e9c1a2254
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 7px;
<<<<<<< HEAD


    &_poster-mini {        
        box-shadow: 0 1px 10px rgba(100, 100, 100, 0.75);        
        padding: 23px 27px;        
    }

    &__box {
        @include default-text(14px, 500);        
=======
    
    &__box {
        @include default-text(14px, 500);
        line-height: 30px;
>>>>>>> bee2858370f6851c3a30e36038198b0e9c1a2254
        letter-spacing: 0.7px;
        color: #90a4ae;
        flex-grow: 1;
    }

    &__icon {
        position: absolute; 
        top: 0;
        right: 0;
<<<<<<< HEAD
        width: 80px;
        padding: 0 20px;
=======
        width: 60px;
        padding: 0 20px 0 0;
>>>>>>> bee2858370f6851c3a30e36038198b0e9c1a2254
        font-size: 20px;
        height: 100%;
        border: none;
        color: #78909c;
        border-radius: 0 7px 7px 0;
<<<<<<< HEAD
        cursor: pointer;           
    }   
}

// poster-mini end
=======
        cursor: pointer;        
    }
}
>>>>>>> bee2858370f6851c3a30e36038198b0e9c1a2254
