.why-choose-us {
    padding: 125px 0;
    background: $dark-grey;
    color: $white;

    &__headline {
        text-align: center;
        margin-bottom: 90px;
        font-size: 36px;
        font-family: $roboto;
        font-weight: bold;

    }


    
    .why-choose-card {
        text-align: center;

    
        &__img {
            width: 113px;
            height: 113px;
            border-radius: 50%;
            background: $grey;
            display: inline-block;
        }
    
        &__title {
            padding: 35px 0;
            font-size: 24px;
            font-family: $roboto;
            font-weight: 700;
            display: block;
    
        }
    
        &__title:hover {
            color:$green;
    
        }
    
        &__text {
            font-size: 15px;
            font-family: $roboto;
            font-weight: 400;
        }
    }
}

@media(max-width: 991px){

    .why-choose-card{
        margin-bottom: 25px;
    }
}







    